.maincontainer{
    display: flex;
    flex-direction: row;
    width:50%;
}
.dropdowncontainer{
    display: flex;
    flex-direction: column;
    width:50%;
}
.accordioncontainer{
    margin: 10px 10px 10px 10px;
    width:70%;
}
.dropdown{
    width:80%;
}
.dropdownname{
    margin-right:8px;
}
.displaybox{
    height:100px;
    border: 2px solid black;
    margin-top: 10px;
    width:80%;
}
.question button{
    padding: 4px 4px;
}

h3{
    display:inline;
}

.hideText{
    display: none;
}