
.maincontainer{
    display: flex;
    flex-direction: column;
    max-width:60%;
    margin:0 auto;
    background-color: antiquewhite;
    height:593px;
   
}
.Menu{
    display: flex;
    flex-direction: row;
    max-width:50%;
    justify-content: start;
    list-style-type: none;
    margin: 10px 10px;
}
.dropdowncontainer{
    display: flex;
    flex-direction: column;
    width:100%;
    margin:5px 5px;
}
.accordioncontainer{
    margin:5px 5px;
    width:100%;
}
.modalcontainer{
    width:100%;
    margin:5px 5px;
}
.dropdown{
    width:80%;
}
.dropdownname{
    margin-right:8px;
}
.displaybox{
    height:100px;
    border: 2px solid black;
    margin-top: 10px;
    width:80%;
}
.question button{
    padding: 4px 4px;
}

h3{
    display:inline;
    margin:5px 5px;
}


.hideText{
    display: none;
}

.accordion_title{
    width:100%;
    border: 1px solid black;
    border-radius: 20px;
    margin:5px 5px 0px 5px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aliceblue;
    padding:2px 2px;
    
}
.accordion_content{
    width:100%;
   
}

.expand{
    border-radius:100px;
    border: 1px solid black;
    margin:2px 2px;
    padding:2px 10px;
    background-color: aliceblue;
}
.accordion_content{
    width:46%;
    border: 1px solid black;
    border-radius: 10px;
    margin:0px 8px;
    padding: 10px 10px;
    background-color: aliceblue;
}

.modal-container{
    width:30%;
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    margin: 10px 10px;
    background-color: aliceblue;
}
.modalclose{
    position:relative;
    left:45%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2px 2px;
    background-color: aliceblue;
}

.modalopen{
    border: 1px solid black;
    border-radius: 10px;
    margin:0px 8px;
    padding: 10px 10px;
    background-color: aliceblue;
}
.dropdown{
    border-radius: 10px;
    margin:0px 8px;
    padding: 10px 10px;
    background-color: aliceblue;
}
li{
    margin:10px 10px;
    text-decoration: none;
}
.colorbox{
    width:100px;
    height:100px;
    border:1px solid black;
    border-radius: 20px;
}
.colorslist{
    display:flex;
    flex-direction: row;
    margin: 5px 5px;
    
}
.colors{
    width:20px;
    height:20px;
    border:1px solid black;
    margin: 5px 5px;
    border-radius: 20px;
}

.colorpickercontainer{
    margin-left: 40px;
}
.displaytasks{
    width:200px;
    height:100px;
    border:1px solid black;
    margin: 5px 5px;
    border-radius: 20px;
    background-color: aliceblue;
}
.taskname{
    margin:3px 10px;
}
.smallcontainer{
    max-width: 80%;
    margin: 0 auto;
}

input{
    margin:2px 7px;
    border-radius: 10px;
    height: 20px;
}
.searchbutton{
    border-radius: 10px;
    height: 25px;
    padding:2px 2px;
}
.searchresults{
    width:90%;
    height:30px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: aliceblue;
    margin: 0px 6px;

}
span{
    margin:2px 6px;
}